body {
  background-color: #0c0e2c;
}

div {
  text-align: center;
}

h1 {
  padding: 2em;
  text-align: center;
  color: white;
}

p {
  color: white;
}

#resultado {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.resposta-correta {
  color: green;
  font-weight: bold;
}

.resposta-incorreta {
  color: red;
  font-weight: bold;
}

form {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30em;
}

form input[type="text"],
form input[type="email"] {
  visibility: visible;
  background-color: #0c0e2c;
  border: 0;
  color: white;
  margin-bottom: 10px;
}

.linha-branca {
  visibility: visible;
  border-top: 1px solid white;
  margin-top: -12px;
  margin-bottom: 15px;
  background-color: white;
  width: 250px;
}

@media screen and (max-width: 736px) {
  form {
    margin-top: 5em; /* Reduza a margem superior */
  }
}

@media screen and (max-width: 667px) {
  form {
    margin-top: 3em; /* Reduza ainda mais a margem superior */
  }
}

@media screen and (max-width: 648px) {
  form {
    margin-top: 2em; /* Ajuste a margem superior conforme necessário */
  }
}

@media screen and (max-width: 600px) {
  form {
    margin-top: 1em; /* Ajuste a margem superior conforme necessário */
  }
}

@media screen and (max-width: 414px) {
  form {
    margin-top: 0.5em; /* Ajuste a margem superior conforme necessário */
  }
}

@media screen and (max-width: 412px) {
  form {
    margin-top: 0.3em; /* Ajuste a margem superior conforme necessário */
  }
}

@media screen and (max-width: 375px) {
  form {
    margin-top: 0.2em; /* Ajuste a margem superior conforme necessário */
  }
}

@media screen and (max-width: 734px) {
  form {
    margin-top: 4em; /* Ajuste a margem superior conforme necessário */
  }
}
@media screen and (min-width: 1024px) {
  form {
    margin-top: 15em; /* Ajuste a margem superior para telas maiores */
  }
}





